.container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; */
    padding: 2rem;
  }
  .inputGroup {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .label {
    font-weight: bold;
  }
  
  .select {
    padding: 0.5rem;
    font-size: 1rem;
  }
  